@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

button {
  cursor: pointer;
}

@theme {
  --font-poppins: "Poppins", serif;

  --color-primary: #f1607d;
  --color-secondary: #f37768;
  --color-stroke: #d7dfea;
  --color-label: #888;

  --color-green-schedule: #63bc8b;
  --color-red-schedule: #f44f70;
  --color-scarlet-schedule: #fb5e64;

  --color-facebook: #1877f2;
  --color-google: #ecf0f5;
  --color-titleActive: #1e1e1e;
  --color-innerBackground: #f9f9f9;
  --color-body: #666666;
  --color-placeHolder: #94a3b8;

  --color-star: #fbbc05;
  --color-empty-star: #d3d3d3;
}
